<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <!--<property name="LOG_DIR" value="./log" />-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%level)] %date{YYYY-MM-dd HH:mm:ss} %logger %line : %message%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="DEBUG" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>${LOG_DIR}/debug.log</file>-->
        <!--<encoder>-->
            <!--<pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} %logger{0} : %message%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<logger name="com.caigin" level="INFO" additivity="false">-->
        <!--<appender-ref ref="DEBUG" />-->
    <!--</logger>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
